select{
    width: 220px;
}
#saveLoadTable{
    width: 600px;
}
#saveVehicleAndDriverTable{
    width:450px;
}

input{
    width: 220px;
}

.tableView tbody
{
    display: block;
    overflow: auto;
    height: 500px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.tableView thead tr{
    display: block;
    position: relative;
}
.tableView thead th{
    text-align: center;
}

.drivers th:nth-child(1), .drivers td:nth-child(1) { min-width: 230px;  max-width: 230px; }
.drivers th:nth-child(2), .drivers td:nth-child(2) { min-width: 230px; max-width: 230px; }
.drivers th:nth-child(3), .drivers td:nth-child(3) { min-width: 250px; max-width: 250px; }
.drivers th:nth-child(4), .drivers td:nth-child(4) { min-width: 150px; max-width: 150px; }
.drivers th:nth-child(5), .drivers td:nth-child(5) { min-width: 260px; max-width: 260px; }
.drivers th:nth-child(6), .drivers td:nth-child(6) { min-width: 262px; max-width: 262px; }
.drivers th:nth-child(7), .drivers td:nth-child(7) { min-width: 150px; max-width: 150px; }


.loads th:nth-child(1), .loads td:nth-child(1) { min-width: 150px;  max-width: 150px; }
.loads th:nth-child(2), .loads td:nth-child(2) { min-width: 180px; max-width: 180px; }
.loads th:nth-child(3), .loads td:nth-child(3) { min-width: 120px; max-width: 120px; }
.loads th:nth-child(4), .loads td:nth-child(4) { min-width: 120px; max-width: 120px; }
.loads th:nth-child(5), .loads td:nth-child(5) { min-width: 140px; max-width: 140px; }
.loads th:nth-child(6), .loads td:nth-child(6) { min-width: 140px; max-width: 140px; }
.loads th:nth-child(7), .loads td:nth-child(7) { min-width: 150px; max-width: 150px; }
.loads th:nth-child(8), .loads td:nth-child(8) { min-width: 127px; max-width: 127px; }
.loads th:nth-child(9), .loads td:nth-child(9) { min-width: 148px; max-width: 148px; }
.loads th:nth-child(10), .loads td:nth-child(10) { min-width: 120px; max-width: 120px; }
.loads th:nth-child(11), .loads td:nth-child(11) { min-width: 137px; max-width: 137px; }

.vehicles th:nth-child(1), .vehicles td:nth-child(1) { min-width: 255px;  max-width: 255px; }
.vehicles th:nth-child(2), .vehicles td:nth-child(2) { min-width: 250px; max-width: 250px; }
.vehicles th:nth-child(3), .vehicles td:nth-child(3) { min-width: 250px; max-width: 250px; }
.vehicles th:nth-child(4), .vehicles td:nth-child(4) { min-width: 250px; max-width: 250px; }
.vehicles th:nth-child(5), .vehicles td:nth-child(5) { min-width: 265px; max-width: 265px; }
.vehicles th:nth-child(6), .vehicles td:nth-child(6) { min-width: 262px; max-width: 262px; }


.soflow{
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}