#pickUpLocation {
    width: 125%;
}

.body {
    overflow-x: hidden;
}

.mapBody {
    width: 100%;
    padding: 0;
    margin: 0;
}

#loadsDiv {
    overflow: hidden;
    padding: 1%;
    float: left;
    width: 40%;
}

#map {
    padding: 1%;
    width: 40%;
    height: 90%;
    float: left;
}

.menu {
    list-style: none;
    padding: 5px;
    margin: 0;
}

.liMenu {
    margin-bottom: 1%;
}

.submenu {
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
}

.submenu li {
    font-size: 90%;
}

.aSubmenuMap {
    color: darkcyan;
    font-weight: normal;
}

.aMenuMap {
    color: darkblue;
    font-weight: bold;
}

#saveLoadTable {
    width: 570px;
}

#saveVehicleAndDriverTable {
    width: 500px;
}

#loginTable {
    width: 450px;
}

input {
    width: 220px;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.tableView tbody {
    display: block;
    overflow: auto;
    height: 400px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.tableView thead tr {
    display: block;
    position: relative;
    font-size: large;
}

.tableView thead th {
    text-align: center;
    font-size: large;
}

.soflow {
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#container {
    overflow: hidden;
    margin: 2%;
    width: 100%;
}

#header {
    text-align: center;
    width: 20%;

}

.text {
    font-size: 20px;
}

.textTableHeader {
    font-size: 20px;
    text-align: center;
}

.driverContent {
    overflow: hidden;
    padding: 1%;
    float: left;
    width: 20%;
}

.vehicleContent {
    overflow: hidden;
    margin-right: 4%;
    padding: 1%;
    width: 20%;
    float: left;
}

.actionsContent {
    text-align: center;
    overflow: hidden;
    padding: 1%;
    float: left;
    width: 56%;
}

.table td {
    vertical-align: middle;
}

.error {
    color: red;
    margin-bottom: 4%;
}

.accessDeniedMessage {
    margin: 10%;
    text-align: center;
    font-size: 30px;
}

