table tbody
{
    display: block;
    overflow: auto;
    height: 500px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

thead tr{
    display: block;
    position: relative;
}
thead th{
    text-align: center;

}