.vehicles th:nth-child(1), .vehicles td:nth-child(1) { min-width: 170px;  max-width: 170px; }
.vehicles th:nth-child(2), .vehicles td:nth-child(2) { min-width: 150px;  max-width: 150px; }
.vehicles th:nth-child(3), .vehicles td:nth-child(3) { min-width: 220px;  max-width: 220px; }
.vehicles th:nth-child(4), .vehicles td:nth-child(4) { min-width: 200px; max-width: 200px; }
.vehicles th:nth-child(5), .vehicles td:nth-child(5) { min-width: 200px; max-width: 200px; }
.vehicles th:nth-child(6), .vehicles td:nth-child(6) { min-width: 250px; max-width: 250px; }
.vehicles th:nth-child(7), .vehicles td:nth-child(7) { min-width: 165px; max-width: 165px; }
.vehicles th:nth-child(8), .vehicles td:nth-child(8) { min-width: 160px; max-width: 160px; }